<section id="inn">
  <h1><%= @inn.brand_name %></h1>
  <h4><%= @inn.description %></h4>
  <div>
    <ul>
      <% if @owner_view %>
        <strong>Razão Social:</strong> <%= @inn.legal_name %><br>
        <strong> CNPJ:</strong> <%= @inn.vat_number %><br><br>
      <% end %>
      
      <%= [@inn.city, @inn.state].compact.join(' / ') %> <br><br>
      <% if @inn.address %>
        <%= [@inn.address, @inn.zone]&.compact.join(' - ') %><br>
      <% end %>
      <% if @inn.phone %>
        <strong>Telefone:</strong> <%= @inn.phone %><br>
      <% end %>
      <% if @inn.email%>
        <strong>E-mail:</strong> <%= @inn.email %><br>
      <% end %>
      <strong>CEP:</strong> <%= @inn.postal_code %><br>
      <strong>Check-In:</strong> <%= @inn.check_in&.strftime("%H:%M") %><br>
      <strong>Check-Out:</strong> <%= @inn.check_out&.strftime("%H:%M") %><br>
      <strong>Aceita:</strong> <%= @inn.payment_opt %><br>
      <% if @inn.pet_friendly %>
        <%= '🐱🐶 Aceita Pets' %><br>
      <% end %>
      <% if @inn.wheelchair_accessible %>
        <%= '♿ Pousada com Acessíbilidade' %><br>
      <% end %>
    </ul>
  </div>
</section>
<br>

<section id="rooms-list">
  <% if @owner_view %>
    <%= render partial: 'rooms/index', locals: { rooms: @inn.rooms } %>
  <% else %>
    <%= render partial: 'rooms/index', locals: { rooms: @inn.rooms.where(available: true) } %>
  <% end %>
</section>

<section id="ratings">  
  <% if @inn.ratings %>
    <h4><%= 'Avaliações' %></h4>
    <h1><%= @inn.avg_rating %></h1>
    <% @inn.ratings.first(3).each do |rating| %>
      <p class="list"><span style="text-transform: capitalize"><%= rating.user.full_name %>:</span> <%= "#{rating.grade}/5" %> - <%= rating.comment %></p>
    <% end %>
  <% end %>   
  <% if @inn.ratings.size > 3 %>
    <%= link_to 'veja todas as avaliações', inn_ratings_path(@inn) %>
  <% end %>
</section>