<h1><%= @inn.brand_name %></h1>
<h4><%= @inn.description %></h4>

<ul class="list">
  <% if @owner_view %>
    <li><strong>Razão Social:</strong> <%= @inn.legal_name %></li>
    <li><strong> CNPJ:</strong> <%= @inn.vat_number %></li>
  <% end %>
  <li><strong>Endereço:</strong> <%= [@inn.address, @inn.zone].compact.join(' - ') %></li>
  <li><strong>CEP:</strong> <%= @inn.postal_code %></li>
  <li><strong>Cidade/UF:</strong> <%= [@inn.city.presence, @inn.state.presence].compact.join(' / ') %></li>
  <li><strong>Telefone:</strong> <%= @inn.phone %></li>
  <li><strong>E-mail:</strong> <%= @inn.email %></li>
</ul>

<%= render partial: 'rooms/index', locals: {owner_view: @owner_view, rooms: @inn.rooms } %>

<% if @owner_view %>
  <%= render 'submenu' %>
<% end %>