<%= render 'errors' %>
<div class="list">
  <p class="inline"><%= "Avaliação da estadia" %><br>

  <% if reservation.status == 'closed' && !@owner_view %>
    <%= reservation_statuses(reservation) %>
    

  <% elsif reservation.status == 'rated' %>
    <%= "Nota: #{reservation.grade}" %><br><br>
    <% unless reservation.comment.nil? %>
      <%= "Seu comentário" %><br>
      <%= reservation.comment %><br>
    <% end %>

  <% elsif reservation.status == 'answered' %>
    <%= "Nota:"%>
    <%= reservation.grade %><br>
    <% unless reservation.comment.nil? %>
      <%= "Comentário" %><br>
      <%= reservation.comment %><br><br>
    <% end %>
    <%= "Resposta da #{reservation.room.inn.brand_name}" %><br>
    <%= reservation.response %>
  <% end %>

</div>