<div class="list">
  <p class="inline"><%= "Avaliação da estadia" %><br>
  <% if reservation.status == 'closed' && !owner_view%>
    <%= form_with(model: [reservation.room, reservation]) do |f| %>
      <%= f.label :grade, class: 'inline' %><br>
      <%= f.select :grade, 0..5, {}, class: 'inline' %><br>
      <%= f.label :comment, class: 'inline' %><br>
      <%= f.text_area :comment, class: 'inline' %><br>
      
      <%= f.hidden_field :status, value: 'rated' %>
      <%= f.submit 'Avaliar', class: 'inline-button' %>
    <% end %>
  <% elsif reservation.status == 'rated' && !owner_view %>
    <strong><%= "Nota:" %></strong><%= reservation.grade %><br><br>
    <% unless reservation.comment.nil? %>
      <strong><%= "Seu comentário" %></strong><br>
      <%= reservation.comment %><br>
    <% end %>
  <% elsif reservation.status == 'rated' && owner_view %>
    <strong><%= "Nota:" %></strong><%= reservation.grade %><br>
    <% unless reservation.comment.nil? %>
      <strong><%= "Comentário" %></strong><br>
      <%= reservation.comment %><br>
    <% end %>
    <%= form_with(model: [reservation.room, reservation]) do |f| %>

      <%= f.label :response, class: 'inline' %><br>
      <%= f.text_area :response, class: 'inline' %><br>
      
      <%= f.hidden_field :status, value: 'answered' %>
      <%= f.submit 'Responder', class: 'inline-button' %><br><br>
    <% end %>
  <% elsif reservation.status == 'answered' %>
    <strong><%= "Nota:"%></strong>
    <%= reservation.grade %><br>
    <% unless reservation.comment.nil? %>
      <strong><%= "Comentário" %></strong><br>
      <%= reservation.comment %><br><br>
    <% end %>
    <strong><%= "Resposta da #{reservation.room.inn.brand_name}" %></strong><br>
    <%= reservation.response %>
  <% end %>
</div>