<%= render 'errors' %>
<h1><%= @room.name %></h1>
<h4><%= @room.description %></h4>

<div>

  <p>
    Tamanho:
    <%= @room.size %>m²
  </p><br>
  <p>
    Hóspedes: Até
    <%= @room.max_guests %>
    pessoas
  </p><br>

  <div>
    <% {Suíte: @room.bathroom, Varanda: @room.balcony, "Ar condicionado": @room.air_conditioning, TV: @room.tv, Armários: @room.wardrobe, Cofre: @room.safe, "♿ Quarto Acessível": @room.accessible}.each do |key, value| %>
      <% if value %>
        <p>
          ✓
          <%= key if value %><br></p>
      <% end %>
    <% end %>
  </div>
  <br>
  <p>
    Diária:
    <%= number_to_currency(@room.base_price) %>
  </p>
</div>

<br>
<%= render partial: 'consult_form' %>