<h5> Ei achamos que uma dessas reservas pode te interessar.<br>Gostaria de continuar com alguma delas? </h5>

<div id="all" class="list">
    
  <% @session_reservations.each do |reservation| %>
    <% if reservation.status == 'available' && reservation.created_at > (Time.zone.now - 48.hours) %>
    <nav>
      <ul class="peq">
        <li class="title"><%= "#{reservation.room.inn.city}/#{reservation.room.inn.state}" %></li><br>
        <li><%= reservation.room.inn.brand_name %> / <%= reservation.room.name %></li><br>
        <li><%= number_to_currency(reservation.total_value) %><%= " para o período de #{l(reservation.start_date)} a #{l(reservation.end_date)}" %></li><br>
        <li class="title"><strong><%= button_to "Continuar Reserva", room_reservation_path(reservation.room, reservation), method: :get %></strong></li><br>
      </ul>
    </nav>
    <% end %>
  <% end %>
</div>