<div class="list">
  <table>    
    <tr>
      <td>
        <h4 class="list-item"><%= "#{@reservation.room.inn.brand_name}" %></h4>
      </td>
      <td rowspan="3">
        <% if user_signed_in? && (current_user.document.nil? || current_user.full_name.nil?) %>
            <p class="alert"><%= 'Complete seu cadastro e garanta sua reserva.' %></p>
            <%= render partial: 'devise/registrations/edit_document', locals: { resource: current_user, resource_name: current_user.user_type } %>
        <% elsif !user_signed_in? %>
            <p class="alert"><%= 'Garanta sua reserva fazendo login no site.' %></p>
            <%= render partial: 'devise/sessions/login', locals: { resource: User.new, resource_name: 'user', reservation_id: @reservation.id } %>         
        <% end %>
      </td>
    </tr>
      <% days = (@reservation.end_date - @reservation.start_date).ceil %>
    <tr>
      <td>  
        <p class="list-item">
          <%= "Código: #{@reservation.code}" %>
        </p>
        <p class="list-item">
          <%= "Acomodações: #{@reservation.room.name}" %>
        </p>
        <br>
        <p class="list-item">
          <%= "Diárias: #{days}" %>
        </p>
        <p class="list-item">
          <%= "Check-in: #{l(@reservation.start_date)} até as #{l(@reservation.room.inn.check_in)}" %>
        </p>
        <p class="list-item">
          <%= "Check-out: #{l(@reservation.end_date)} até as #{l(@reservation.room.inn.check_out)}" %>
        </p>
        <p class="list-item">
          <%= "Hóspedes: #{@reservation.guests}" %>
        </p>
        <p class="list-item">
          <%= "Valor total: #{number_to_currency(@reservation.total_value)}" %>
        </p>
        <p class="list-item">
          <%= "Aceita: #{@reservation.room.inn.payment_options}" %>
        </p>
        <br>
        <% case @reservation.status %>
        <% when 'available' %>
          <% if user_signed_in? && current_user.document && current_user.full_name %>
            <br>
            <p class="list-item">
              <%= form_with(model: [@room, @reservation]) do |f| %>
                <%= f.hidden_field :status, value: 'confirmed' %>
                <%= f.submit 'Confirmar Reserva', method: :patch, class: 'inline-button' %>
              <% end %>
            </p>
          <% else %>
            <br>
            <p class="list-item">
              <%= button_tag 'Confirmar Reserva', class: 'inline-button', disabled: true %>
            </p>
          <% end %>
        <% when 'confirmed' %>
          <% unless (@reservation.start_date - Time.zone.today).to_i < 7 %>
            <%= form_with(model: [@room, @reservation], data: {turbo: false}) do |f| %>
              <%= f.hidden_field :status, value: 'canceled' %>
              <%= f.submit 'Cancelar Reserva', class: 'inline-button', method: :patch %>
            <% end %>
          <% end %>
        <% end %>
        <%= render 'errors' %>
        </div>
      </td>
    </tr>
  </table>
</div>