<div class="list">
  <table>    
    <tr>
      <td>
        <h3><%= "#{@room.name}" %></h3>
      </td>
      <td>
        <h3><%= "Reserva #{@reservation.code}" %></h3>
      </td>
      <% if current_user && (current_user.document.nil? || current_user.full_name.nil?) %>
        <td rowspan="3">
          <%= render partial: 'devise/registrations/edit_document', locals: { resource: current_user, resource_name: current_user.user_type } %>
        </td>
      <% end %>
    </tr>
    <tr>
      <td>
        <p class="list-item">
          Tamanho:
          <%= @room.size %>m²
        </p>
        <p class="list-item">
          Hóspedes: Até
          <%= @room.max_guests %>
          pessoas
        </p>
        <% {Suíte: @room.bathroom, Varanda: @room.balcony, "Ar condicionado": @room.air_conditioning, TV: @room.tv, Armários: @room.wardrobe, Cofre: @room.safe, "♿ Quarto Acessível": @room.accessible}.each do |key, value| %>
          <% if value %>
            <p class="list-item">
              ✓
              <%= key if value %><br></p>
          <% end %>
        <% end %>
      </td>
      <td>  
        <p class="list-item">
          <% days = (@reservation.end_date - @reservation.start_date).to_i %>
          <% daily_value = @reservation.total_value.fdiv(days) %>
          <% value_per_guest = @reservation.total_value / @reservation.guests %>
        </p>
        <p class="list-item">
          Data de Entrada: <%= l(@reservation.start_date) %>
        </p>
        <p class="list-item">
          Data de Saída: <%= l(@reservation.end_date) %>
        </p>
        <p class="list-item">
          Número de diárias: <%= days %>
        </p>
        <p class="list-item">
          <%= form_with(model: [@room, @reservation]) do |f| %>
            <%= f.label :guests, class: 'list-item' %>
            <%= f.select :guests, 1..@room.max_guests, {}, class: 'list-item' %>
            
        </p>
        <p class="list-item">
          Valor total: <%= number_to_currency(@reservation.total_value) %>
        </p>
        <p>
            <% if current_user && (current_user.document.nil? || current_user.full_name.nil?) %>
              <p class="alert"><%= 'Para confirmar sua reserva, complete os dados do seu cadastro usando o formulário ao lado.'%></p>
            <% else %>
              <%= f.hidden_field :room_id, value: params[:room_id] %>
              <%= f.submit 'Confirmar Reserva', class: 'inline-button', method: :get %>
            <% end %>
          <% end %>
      </td>
    </tr>
  </table>
  
</div>
<%= render partial: 'reservations/index', locals: { room: @room, reservations: @room.reservations } unless @room.reservations.empty? %>