<div id="rooms_list" class="list">
  <% rooms.each do |room| %>
    <br>
    <span class="inline, title"><%= link_to room.name, room_path(room) %></span>
    <% if @owner_view %><%= button_to 'Editar Quarto', edit_room_path(room), method: :get, form_class: "inline", class: "inline-button" %><% end %><br>
    <span class="inline, description"><%= room.description %></span><br>
    <span class="inline"><%= room.size %>m² | <%= number_to_currency(room.base_price) %> | Até <%= room.max_guests %> pessoas</span><br>
    <% {Suíte: room.bathroom, Varanda: room.balcony, "Ar condicionado": room.air_conditioning, TV: room.tv, Armários: room.wardrobe, Cofre: room.safe, "quarto acessível": room.accessible}.each do |key, value| %>
      <% if value %>
        <span class="inline"><%= "#{key}✓" %></span>
      <% end %>
    <% end %>
    <% if @owner_view %> 
      <span class="inline"><%= room.available ? 'Disponível✓' : 'Indisponível' %></span><br>
    <% end %>
  <% end %>
</div>