<% unless rooms.empty? %>
<div id="rooms_list">
  
  <% rooms.each do |room| %>
  <div>
    <p class="title"><%= link_to room.name, room_path(room) %></p>
    <% if @owner_view %><%= button_to 'Editar Quarto', edit_room_path(room), method: :get %><br><% end %>
    <span class="description"><%= room.description %></span><br>
    <span><%= room.size %>m² | <%= number_to_currency(room.base_price) %> | Até <%= room.max_guests %> pessoas</span><br>
    <% {Suíte: room.bathroom, Varanda: room.balcony, "Ar condicionado": room.air_conditioning, TV: room.tv, Armários: room.wardrobe, Cofre: room.safe, "quarto acessível": room.accessible}.each do |key, value| %>
      <% if value %>
        <span><%= "#{key}✓" %></span>
      <% end %>
    <% end %>
    <% if @owner_view %> 
      <span><%= room.available ? 'Disponível✓' : 'Indisponível' %></span>
    <% end %>
  <% end %>
  </div>
</div>
<% end %>