<h1><%= @room.name %></h1>
<h4 class="list-item"><%= @room.description %></h4>

<div class="list">

  <p class="list-item">
    Tamanho:
    <%= @room.size %>m²
  </p><br>
  <p class="list-item">
    Hóspedes: Até
    <%= @room.max_guests %>
    pessoas
  </p><br>

  <div>
    <% {Suíte: @room.bathroom, Varanda: @room.balcony, "Ar condicionado": @room.air_conditioning, TV: @room.tv, Armários: @room.wardrobe, Cofre: @room.safe, "♿ Quarto Acessível": @room.accessible}.each do |key, value| %>
      <% if value %>
        <p class="list-item">
          ✓
          <%= key if value %><br></p>
      <% end %>
    <% end %>
  </div>
  <br>
  <p class="list-item">
    Diária:
    <%= number_to_currency(@room.base_price) %>
  </p>
  <% if @owner_view %><p class="list-item"><%= @room.available ? "Disponível" : "Indisponível" %></p><% end %>
</div>

<%= button_to "Quero reservar", new_room_reservation_path(@room), method: :get, class: "inline-button" %>
<%= render partial: 'reservations/index', locals: {room: @room} %>

<% if @owner_view %>
  <%= render 'seasonals/index', room: @room unless @room.seasonals.empty? %>
  <%= render 'layouts/submenu' %>
<% end %>
