<h1><%= @room.name %></h1>
<h4><%= @room.description %></h4>

<ul class="list">
  <li>
    Tamanho: <%= @room.size %>m²
  </li>
  <li>
     Hóspedes: Até <%= @room.max_guests %> pessoas
  </li>
  <li>
    Preço Base: R$ <%= @room.base_price %>
  </li>
    <% {Suíte: @room.bathroom, Varanda: @room.balcony, "Ar condicionado": @room.air_conditioning, TV: @room.tv, Armários: @room.wardrobe, Cofre: @room.safe, "quarto acessível": @room.accessible}.each do |key, value| %>
      <% if value %>
        <li><%= key %></li>
      <% end %>
    <% end %>
  <li>
    <%= @room.available ? 'Disponível' : 'Indisponível' %>
</ul>

<% if @owner_view %>
  <%= render 'seasonals/index', :room => @room %>
  <%= render 'submenu' %>
<% end %>
