<p> foda-se! </p>
<%= form_with(model: @inn) do |f| %>
  <%= f.label :brand_name, t('activerecord.attributes.inn.brand_name') %>
  <%= f.text_field :brand_name %>
  <%= f.label :legal_name %>
  <%= f.text_field :legal_name %>
  <%= f.label :vat_number %>
  <%= f.text_field :vat_number %>
  <%= f.label :phone %>
  <%= f.telephone_field :phone %>
  <%= f.label :email %>
  <%= f.email_field :email %>
  <%= f.label :address %>
  <%= f.text_field :address %>
  <%= f.label :zone %>
  <%= f.text_field :zone %>
  <%= f.label :city %>
  <%= f.text_field :city %>
  <%= f.label :state %>
  <%= f.text_field :state %>
  <%= f.label :postal_code %>
  <%= f.text_field :postal_code %>
  <%= f.label :description %>
  <%= f.text_area :description %>
  <%= f.label :payment_options %>
  <%= f.text_field :payment_options %>
  <%= f.label :pet_friendly %>
  <%= f.check_box :pet_friendly %>
  <%= f.label :wheelchair_friendly %>
  <%= f.check_box :wheelchair_friendly %>
  <%= f.label :rules %>
  <%= f.text_area :rules %>
  <%= f.label :check_in %>
  <%= f.time_select :check_in %>
  <%= f.label :check_out %>
  <%= f.time_select :check_out %>
  <%= f.label :active %>
  <%= f.check_box :active %>
  <br>
  <%= f.submit %>
<% end %>