<!DOCTYPE html>
<html>
  <head>
    <title>Pousadaria</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <h1> POUSADARIA </h1>
    <table width="100%" class="top-menu">
      <tr>
        <nav>
          <td>
            <ul>
              <li>
                  <%= button_to "Home", root_path, method: :get %>
              </li>
              <li>
                  <%= button_to 'Cidades', cities_path, method: :get unless Inn.all.empty? %>
              </li>
              <% if user_signed_in? %>
                <% if current_user.user_type == 'Owner' %> <!--  Inn Owner is logged -->
                  <% unless Inn.find_by(user_id: current_user.id) %>
                <li>
                    <%= button_to 'Cadastrar Pousada', new_inn_path, method: :get %>
                </li>
                  <% else %>
                <li>
                    <%= button_to 'Minha Pousada', inn_path(Inn.find_by(user_id: current_user.id)), method: :get %>
                </li>
                  <% end %>
                <% end %>
              <% end %>
              <li>          
                <%= button_to 'Entrar', new_user_session_path, method: :get unless ['sessions', 'registrations'].include?(controller_name) || user_signed_in? %>
              </li>
              <li>
                <%= button_to 'Sair', destroy_user_session_path, method: :delete if user_signed_in? %>
              </li>
            </ul>
          </td>
        </nav>
          <td>
            <% if user_signed_in? %>
              <%= form_with(url: search_inns_path, method: :get) do |f| %>
                <%= f.label :search, 'busca:' %>
                <%= f.text_field :search %>
                <%= f.submit '>' %>
              <% end %>
            <% end %>
          </td>
      </tr>
    </table>
    <% if controller_name = 'inns' %>
      <%= render partial: 'owners/submenu', locals: { inn: @inn } %><br>
    <% end %>
      <span class="notice"><%= notice %></span>
      <span class="alert"><%= alert %></span>
      
      <%= yield %>
  </body>
</html>
